---
version: '3'

services:

  ghost-app:
    image: ghost:${GHOST_TAG:-4.10.2}
    container_name: ghost-app
    restart: unless-stopped
    environment:
      url: ${GHOST_URL}
      database__client: mysql
      database__connection__host: ghost-db
      database__connection__user: ${GHOST_MYSQL_USER}
      database__connection__password: ${GHOST_MYSQL_ROOT_PASSWORD}
      database__connection__database: ${GHOST_MYSQL_DATABASE}
    volumes:
      - ./ghost/app/content:/var/lib/ghost/content
    depends_on:
      - ghost-db

  ghost-db:
    image: mysql:${GHOST_MYSQL_TAG:-5.7}
    container_name: ghost-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${GHOST_MYSQL_ROOT_PASSWORD}
    volumes:
      - ./ghost/db/mysql:/var/lib/mysql

  nginx-front:
    image: nginx:${NGINX_TAG:-stable}
    container_name: nginx-front
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/letsencrypt:/etc/letsencrypt
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - ghost-app

{% if enable_analytics %}
  matomo-app:
    image: matomo:${MATOMO_TAG:-4-apache}
    container_name: matomo-app
    restart: unless-stopped
    environment:
      MATOMO_DATABASE_HOST: matomo-db
      MATOMO_DATABASE_ADAPTER: mysql
      MATOMO_DATABASE_TABLES_PREFIX: ${MATOMO_DATABASE_TABLES_PREFIX}
      MATOMO_DATABASE_USERNAME: ${MATOMO_MYSQL_USER}
      MATOMO_DATABASE_PASSWORD: ${MATOMO_MYSQL_PASSWORD}
      MATOMO_DATABASE_DBNAME: ${MATOMO_MYSQL_DATABASE} 
    volumes:
      - ./matomo/app/config:/var/www/html/config
      - ./matomo/app/logs:/var/www/html/logs
    depends_on:
      - matomo-db

  matomo-db:
    image: mysql:${MATOMO_MYSQL_TAG:-5.7}
    container_name: matomo-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MATOMO_MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MATOMO_MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MATOMO_MYSQL_USER}
      MYSQL_PASSWORD: ${MATOMO_MYSQL_PASSWORD}
    volumes:
      - ./matomo/db/mysq:/var/lib/mysql

{% endif %}
{% if enable_observability %}
  prometheus:
    image: prom/prometheus:${PROMETHEUS_TAG:-v2.28.1}
    container_name: prometheus
    restart: unless-stopped
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.retention.time=168h
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - cadvisor

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:${CADVISOR_TAG:-v0.40.0}
    container_name: cadvisor
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  grafana:
    image: grafana/grafana:${GRAFANA_TAG:-8.0.6}
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_APP_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_APP_PASSWORD}
    volumes:
      - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yaml
    depends_on:
      - prometheus
{% endif %}