server {
  listen 80;
  listen [::]:80;
  server_name {{ nginx_grafana_server_name }};
  client_max_body_size 20m;

  # Useful for Let's Encrypt
  location /.well-known/acme-challenge/ { root /usr/share/nginx/html; allow all; }
  location / { return 301 https://$host$request_uri; }
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ nginx_grafana_server_name }};

  ssl_protocols TLSv1.2;
  ssl_ciphers HIGH:!MEDIUM:!LOW:!aNULL:!NULL:!SHA;
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:10m;

  ssl_certificate     {{ nginx_grafana_ssl_certificate }};
  ssl_certificate_key {{ nginx_grafana_ssl_certificate_key }};

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Proto https;
    proxy_pass http://grafana:3000;
  }
}
